@media (min-width: 1200px){
    .container{
        width:100% !important;
    }  
    
    .custom-row{
        margin-right: -3.75rem;
    }
}

.custom-row{
  padding: 10px; 
  background: linear-gradient(60deg,#f5700c,#ff9800);
}


.form-control{
    height: 20px !important;
}

.table th, .table td {
  padding: 4px 6px 6px 5px;
}


/************************************************************
Background STYLES
************************************************************/

.bg-gold{
    background-color: #ffcc00;
    color: #000000;
}

.bg-gold .card-subtitle{
    color: #000000;
}

.bg-gold .text-muted{
    color:#000000 !important;
}

.bg-green{
    background-color: #72ec50;
    color: #000000;
}

.bg-green .card-subtitle{
    color: #000000;
}

.bg-green .text-muted{
    color:#000000 !important;
}

.bg-blue{
    background-color: #7571f9;
    color:#000000;
}

.bg-blue .card-title{
    color:#FFFFFF;
}

.bg-blue .card-subtitle{
    color: #FFFFFF;
}

.bg-blue .text-muted{
    color:#FFFFFF !important;
}

/*****************************************************/

.hide-row{
  display: none !important;
}

.show-row{
  display: table-row !important;
}

/******************************************************/

.loader-custom {
  margin-left:37%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**/

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 29;
  stroke-dashoffset: 29;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill_red {
  100% {
    box-shadow: inset 0px 0px 0px 30px #FF0000;
  }
}

@keyframes fill_green {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

/*
// Invoice Template - CSS
*/


.template_header{
  background-color: rgb(105, 218, 58);
  color:#FFFFFF;
  font-weight:bold;
  padding:0px;
}

.template_header_orange{
  background-color: rgb(250, 112, 0);
  color:#FFFFFF;
  font-weight:bold;
  padding:0px;
}

.template_header_blue{
  background-color: rgb(1, 121, 233);
  color:#FFFFFF;
  font-weight:bold;
  padding:0px;
}

.template_header_white{
  background-color: rgb(255, 255, 255);
  color:#000000;
  font-weight:bold;
  padding:0px;
}

.template_header_grey{
  background-color: rgb(99, 99, 99);
  color:#000000;
  font-weight:bold;
  padding:0px;
}


#invoice_template_body .card-header img{
  height:100px;
  width:auto;
  margin-left:10px;
  margin-top:0px;
}

#invoice_template_body .card-header p{
  padding:5px 10px 0px 0px;
  color:#000000;
  margin-bottom:0px;
  font-family: 'Lucida Sans';
}

#template_body h3, h4,h5{ 
  margin-bottom: 3px;
}

#template_body table { 
  table-layout: fixed ;
  width: 100% ;
  border-collapse: collapse ;
  border: 1px #000000 solid ;
  font-size:12px;
}
#address_bar td { 
  width: 50%; 
  border: 2px #000000 solid ;
  padding: 10px ;
}
#address_bar th { 
  width: 50%; 
  border: 2px #000000 solid ;
  padding: 10px ;
  font-size:12px;
}

#data_bar td { 
  border: 2px #000000 solid ;
  padding: 10px ;
  color:#000000;
}

#data_bar th { 
  border: 2px #000000 solid ;
  padding: 10px ;
  background-color: rgb(0, 0, 0);
  color:#FFFFFF;
  font-size:12px;
}

.th_green{
  background-color: rgb(105, 218, 58);
  color:#000000;
}

.th_orange{
  background-color: rgb(250, 112, 0);
  color:#000000;
}

.th_blue{
  background-color: rgb(1, 121, 233);
  color:#FFFFFF;
}

.th_white{
  background-color: rgb(255, 255, 255);
  color:#000000;
}

.th_grey{
  background-color: rgb(99, 99, 99);
  color:#FFFFFF;
}

.hide{
  display:none;
}

/*******************************************************************/

.wrong_input{
  background-color: #FF0000 !important; 
}

.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
  cursor: not-allowed;
}

/******************************************************************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  top:5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}