<nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:void(0)"><strong>{{breadcrumb_title}}</strong></a>
    </div>
    <div class="container">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" title="Settings" href="#"><i class="material-icons">settings</i> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Notifications" href="#"><i class="material-icons">notification_important</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Profile" href="#"><i class="material-icons">account_circle</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" title="Sign Out" href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i></a>
                </li>
            </ul>
        </div>
    </div>
  </nav>